.ourCourse {
    width: 100%;
    height: auto;
    display: grid;
    background: rgba(21, 0, 255, 0.052);
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
  .imgPart {
    color: #000062;
    box-shadow: 10px 5px 16px -5px #000048, 5px -2px 6px #000062;
    height: 50%;
  }
  .imgPart img {
    width: 100%;
    height: 100% !important;
  }
  
  .coursegrops {
    border: 0.001px solid silver;
    background: linear-gradient(
      180.71deg,
      #393b40 -52.8%,
      rgba(33, 35, 39, 0) 211.15%
    );
    filter: drop-shadow(0px 30px 41px rgba(0, 0, 0, 0.5));
    box-shadow: 20px 20px 60px #1a1c1f, -20px -20px 60px #24262b;
    border-radius: 8px;
  }
  .select-text {
    color: #5cb85c;
  }
  .addToCartbtn{
      background: #5cb85c!important;
  }
  .addToCartbtn:hover{
      background: #02ff02!important;
      border: .1px solid silver;
  }
  
   #button:hover{
      background: #5cb85c!important;
  }
  #button:active {
      border: 1px solid #5cb85c;
      background: 1px solid #12ef35;
  }
  #button:focus {
      border: 1px solid #5cb85c;
      background-color: 1px solid #5cb85c!important;
  }
  /* 
  #list-tab{
      display: flex!important;
  }
  #button {
    border: 1px solid #12ef35;
  }
  #button:active {
    border: 1px solid #12ef35;
    background: 1px solid #12ef35;
  }
  #button:focus {
    border: 1px solid #12ef35;
    background-color: 1px solid #12ef35;
  }
  
  .addToCartbtn{
      background: #12ef35!important;
  } */

  #modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
    background: red;
     /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:1px solid #666;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;
}

#modalContainer > #alertBox {
    position:fixed;
}

#alertBox h1 {
    margin:0;
    font:bold 0.9em verdana,arial;
    background-color:#3073BB;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
}
  